<h1>Create a new article</h1>

<%= render "form" %>

<%= link_to 'Return to articles listing', articles_path %>

<!--from scaffolding:-->
<!--<h1>New Article</h1>-->

<%#= render 'form', article: @article %>

<%#= link_to 'Back', articles_path %>
